<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NaHC</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <th:block th:replace="~{common/config :: configFragment}"></th:block>
    <link rel="stylesheet" th:href="@{/css/member/findPassword.css}" >
</head>
<body>
    <p class="img-header">
        NaHC Military Service
        <span>MILITARY</span>
    </p>
    <div class="findPassword-container">
        <div class="input-container">
            <label for="name" class="form-label name">이름 입력</label>
            <input id="name"
                   placeholder="이름을 입력하세요."
                   class="form-control" type="text">

            <label for="id" class="form-label id">아이디 입력</label>
            <input id="id" placeholder="아이디를 입력하세요." class="form-control" type="text">
        </div>
        <div class="findPassword-button-container">
            <button id="findPassword-button">비밀번호 찾기</button>
        </div>
        <div class="link-container">
            <a href="/public/login">로그인</a>
            <span>|</span>
            <a href="/public/signup">회원가입</a>
            <span>|</span>
            <a href="/public/findId">아이디 찾기</a>
        </div>
        <script th:src="@{/js/member/findPassword.js}"></script>
    </div>
<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</body>
</html>