@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display&family=Dela+Gothic+One&family=Oxygen:wght@700&display=swap');

.header{
    width:70%;
    margin:0 auto;
    text-align: center;
    padding-top:3%;
}
.header h1 {
    font-weight:bold;
    font-family: 'DM Serif Display', serif;
}
.top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2% 5% 0% 5%;
    width:100%;
}
.passing-top, .examination-top, .description{
    width: 300px;
    font-weight: bold;
    text-align: center;
    padding:3% 0;
    margin:0 30px;
}
.description{
    word-break: keep-all;
    background-color: #dddddd;
    color:black;
    border-radius: 8px;
}
.passing-top p, .examination-top p {
    font-size:30px;
    color:white;
    font-weight: bold;
    font-style: italic;
}
.passing-top a, .examination-top a {
    text-decoration: none;
    color: white;
    opacity: 0.7;
    font-size:13px;
}
.passing-top a:hover{
    color:#e45735;
}
.examination-top a:hover{
    color:#e45735;
}
.button-container{
    margin-top:30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.button-container button{
    text-align: center;
    font-size:13px;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    color: #333;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.button-container button:hover{
    background-color: #e45735;
    color:white;
}
.input-box{
    margin:20px 0 8px 0;
    float:right;
}
.input-box label{
    display:flex;
    justify-content:center;
    align-items:center;
}
.input{
    color:#333;
    width:250px;
    height:40px;
    padding-left:5px;
    font-size:13px;
}
.search-box{
    text-align:center;
    line-height:2.5;
    font-weight:bold;
    background-color:#e45735;
    width:40px;
    height:40px;
    margin-left:10px;
    color:white;
    cursor:pointer;
}
.table-wrapper{
    padding:8px 0 20px 0;
}
.table-container{
    clear:both;
    border-top:1px solid #333;
    border-bottom:1px solid #333;
    width:70%;
    margin:0 auto;
    padding:0;
    font-size:14px;
}
.table {
    margin:0 auto;
    overflow: hidden;
    border-radius:8px;
    margin-bottom:10px;
}
.table-head th {
    text-align: center;
    color:#fff;
    background-color: #73685d;
}
.text_number{
    text-align:center;
}
.text_title a {
    text-decoration:none;
    color:black;
    padding-left:5px;
}
.text_title a:hover{
    color:#e45735;
}